.datetime-current
    background: lighten($color2,25%)
    text-align: center
    padding:15px
    color: $color9
    font-size: 18px
    font-weight: $bold

.rdtPicker
    width: 100%
    padding: 0
    margin: 0
    border: none

.rdtPicker thead tr:first-child th:hover
    background: lighten($color2,85%)

.rdtPrev span, .rdtNext span
    color: $color2

.rdtPicker th.rdtSwitch
    color: $color2

.rdtPicker .rdtTimeToggle
    padding: 25px 0
    background: lighten($color2,25%)
    color: $color9
    font-size: 40px
    font-weight: $bold

.rdtPicker .dow
    color: lighten($color2,25%)

.rdtDays
    tfoot
        border-top: 1px solid $color18