.datetime-current
    background: lighten($color2,25%)
    text-align: center
    padding:15px
    color: $color9
    font-size: 18px
    font-weight: $bold

.rdtPicker
    width: 100%
    padding: 0
    margin: 0
    border: none

.rdtPicker thead tr:first-child th:hover
    background: lighten($color2,85%)

.rdtPrev span, .rdtNext span
    color: $color2

.rdtPicker th.rdtSwitch
    color: $color2
    padding:15px
    font-size: 24px

.rdtPicker th.rdtNext, .rdtPicker th.rdtPrev
    padding: 15px

.rdtPicker .rdtTimeToggle
    padding: 15px 0
    background: lighten($color2,25%)
    color: $color9
    font-size: 24px
    font-weight: $bold

.rdtPicker .dow
    color: lighten($color2,25%)

.rdtDays
    tfoot
        border-top: 1px solid $color18

.rdtCounter
    width: 99px
    height: 150px
    .rdtCount
        height: 40%
        font-size: 40px
        line-height: 60px
        background: $color5
        font-weight: $bold
        color: $color3
        border-radius: 5px
    .rdtBtn
        font-size: 30px
        line-height: 60px
        margin:2px 0
        color:$color3

    .rdtCounter:before:first-child .rdtBtn
        content: "\f077"
        font-family: "FontAwesome"
        background: $color9
        color: $color3
        font-size: 30px
        @extend .absolute-center
        margin:auto

.rdtCounterSeparator
    line-height: 150px
    color: $color9
    width: 10px