.page__post-creator
    position: relative
    width: 100%
    height: 100%

.post-creator
    display: flex
    flex-direction: column
    height: 100%

.pull-post
    background-color: darken($color7,10%)
    color: darken($color3,25%)
    font-weight: $bold

.post-page 
    .page__background
        background-color: lighten($color0,20%)

.post-wrap__switch-post
    font-size: 20px
    font-weight: $bold
    text-align: center
    display: block
    margin: 15px auto
    color: $color2

.date-row
    border-top: dashed 1px $color15;
    padding:20px 0 10px

.date-row:first-of-type
    padding:10px
    border-top:none

.date-row__label
    color: $color3
    font-size: 18px
    font-weight: $bold
    text-align: center
    margin-top:-5px
    margin-bottom: 5px

.post-box
    background: $color9
    width: 80%
    margin: 0 auto 20px
    border: solid 1px
    border-color: darken($color5,5%) darken($color5,7%) darken($color5,13%)
    padding: 25px 15px 15px
    border-radius: 5px

.post-box__msg
    color: darken($color3,10%)
    margin: 0 0 10px
    border-bottom: solid 1px $color5
    padding-bottom: 13px
    word-wrap: break-word
    font-size: 16px
    line-height: 28px
    max-height: 105px
    overflow: hidden

.post-box__time
    color: $color13
    font-size: 12px

.post-box__link-wrap
    width:100%
    height:140px
    display: block
    overflow: hidden
    position: relative
    margin-bottom: 15px

.post-box__link-picture
    display: block
    width: 100%
    position: absolute
    height: auto
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto

.post-box__link-name, .post-box__link-caption, .post-box__link-description
    display: block
    margin-bottom: 10px
    font-size:14px
    word-wrap: break-word

.post-box__link-caption
    color: $color15
    padding-bottom: 15px
    border-bottom: solid 1px $color5

.post-box__link-description
    color: $color13
    

.post-box__link
    color: $color1
    font-size: 14px
    line-height: 20px
    word-wrap: break-word
    margin: 0 0 15px
    display: block

.post-box__picture
    width:100%
    height:auto

.post-filter
    h3
        margin: 10px 0 15px
        text-align: center
        color: $color3
    .list__item
        padding:0
        
        color: $color2
        .list__item__center
            display: block
            text-align: center

.no-post
    margin: 15px auto 30px
    width:90%
    display: block
    background: $color9
    padding:5px
    border: solid 1px
    border-color: darken($color5,5%) darken($color5,7%) darken($color5,13%)

.no-post__msg
    color: $color3
    text-align:center

.account-list__item
    width: 33px
    height: 33px
    display: inline-block
    overflow: hidden
    border-radius: 100%
    position: relative
    margin: 0 4px
    border:solid 3px transparent

.account-list__item:last-child
    margin-right: 10px !important

.account-list__image
    width:100%
    height:auto
    position: absolute
    top:0
    left:0
    right:0
    bottom: 0
    margin: auto
    border-radius: 100%

.account-list__icon
    position: absolute
    border-bottom-right-radius: 100%;
    font-size: 12px;
    padding: 5px 8px 5px 5px;
    right: -4px;
    bottom: -2px;

.account-list__add-account 
    padding: 10px 0 7px
    background: $color9
    width: 70px
    height:50px
    position: absolute
    top: 50px
    right: 0
    
.add-account__icon
    width: 38px
    padding: 5px 0px 3px 0
    border-radius: 100%
    border: solid 3px $color1
    margin: auto
    font-size: 30px
    color: $color1
    text-align: center
    display: block

.post-creator__header
    position: relative
    padding: 10px 15px
    border-bottom: dashed 1px $color5
    height: 30px

.post-creator__close
    position: absolute
    color: $color3
    font-size: 20px;
    top: 5px;
    right: 5px;
    padding: 11px;

.post-creator__account-wrapper
    position: relative
    width:80%
    height:55px
    overflow-y: hidden
    overflow-x: auto
    margin: 12px 10px 0

.post-creator__account-list
    position: absolute
    top:0
    left:0
    width:100%
    height:50px
    white-space: nowrap

.post-creator__content
    border-top: dashed 1px $color5
    height: calc(100% - 85px)
    position: relative
    overflow-y: scroll
    overflow-x: hidden

.post-creator__textarea
    border: none
    width:91.55%
    padding: 15px 15px 50px
    margin:0
    color: $color3
    font-size: 16px
    // height: 87%
    display: block
    resize: none

.post-creator__image-preview-wrap
    width: 92%
    display: block
    margin: 5px auto 60px
    position: relative

.post-creator__image-preview
    width: 100%
    height: auto

.remove-pic
    position: absolute
    top: 5px
    right: 5px
    z-index: 5

.remove-pic__icon
    color:$color9
    font-size: 16px

.loading-wrap
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    display: block
    background: rgba($color17,.8)

.loading-wrap__icon
    width: 30px
    height: 30px
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    display: block
    text-align: center

.post-creator__label
    margin: 0 0 15px
    font-weight: $bold

.post-creator__link
    display: inline-block
    margin: 0 7px
    padding:13px 7px

.post-creator__footer
    background: $color9
    position: absolute
    left:0
    bottom:0
    width:100%
    height:50px
    border-top: solid 1px $color5

.icon__twitter
    border-color: $tw-color
    .account-list__icon
        background-color: $tw-color
        color: $color9

.icon__facebook
    border-color: $fb-color
    .account-list__icon
        background-color: $fb-color
        color: $color9

.icon__googleplus
    border-color: $gp-color
    .account-list__icon
        background-color: $gp-color
        color: $color9

.icon__pinterest
    border-color: $pi-color
    .account-list__icon
        background-color: $pi-color
        color: $color9

.icon__linkedin
    border-color: $li-color
    .account-list__icon
        background-color: $li-color
        color: $color9

.icon__instagram
    border-color: $ig-color
    .account-list__icon
        background-color: $ig-color
        color: $color9

.post-box__hover
    opacity: 0
    background-color:rgba($color17,.8)
    absolute-center()
    width:100%
    height:100%
    z-index: 5

.post-box__in-creator
    position: relative
    margin-bottom: 60px
    padding: 15px
    .post-box__link-wrap
        position: relative
    .post-box__link-caption
        border-bottom: none
        padding-bottom: 0
    .post-box__link-name
        color:$color1
    .post-box__link-name, .post-box__link-caption, .post-box__link-description
        margin-bottom: 5px
        border:none
        width: 100%
        resize: none
    .post-box__link, .post-box__link-caption
        margin-bottom: 0

.post-box__link-wrap:active .post-box__hover
    opacity: 1

.post-box__close
    position: absolute
    top:3px
    right: 3px
    font-size: 12px
    color: $color3

.post-box__hover-link
    display: block
    width: 100%
    height: 100%
    color: $color9
    absolute-center()

.post-box__hover-icon
    width: 32px
    height: 34px
    display: block
    absolute-center()

.post-box__album
    .album-wrap
        width:100%
        height: 150px
        display: block
        overflow: hidden
        position: relative
        margin-bottom: 10px
    .album-wrap__image
        width:100%
        height: auto
        absolute-center()
    .album-wrap__desc
        position: absolute
        top: 0
        right: -2px
        background-color: rgba($color9,.85)
        width:40%
        height: 150px

.album-wrap__type
    font-size: 16px
    text-align: center
    margin: 50px auto 5px

.album-wrap__total
    font-size: 35px
    display: block
    text-align: center
    font-weight: $bold

.modal-box
    width: 100%
    height: 100%
    margin: auto
    absolute-center()

.modal-msg
    padding-top: 111px
    color: $color1