.post-page
    background-color: $color0

.post-wrap__switch-post
    font-size: 24px
    font-weight: $bold
    text-align: center
    display: block
    margin: 15px auto

.date-row
    padding: 10px

.date-row__label
    color: $color3
    font-size: 18px
    font-weight: $bold
    text-align: center
    margin-top:-5px

.post-box
    width: 80%
    margin: 0 auto 20px
    border: solid 1px
    border-color: $color5 darken($color5,10%) #d0d1d5
    padding: 25px 15px

.post-box__msg
    color: darken($color3,10%)
    margin: 0 0 5px

.post-box__time
    color: $color13
    font-size: 12px