.page-user-setting
    background: url(../images/hero_bg.png) no-repeat bottom center
    background-size: cover
    width: 100%
    height: 100%

.user-info
    margin:0
    position: relative
    .closeme
        color: $color7
        position: absolute
        top: -17px
        right: 10px
        padding:10px

.user-info__list
    list-unstyled()

.user-info__label
    text-align: center
    text-transform: uppercase

.user-info__avatar-wrap
    position: relative
    display: block
    width: 150px
    height: 150px
    margin: 0 auto 20px
    overflow: hidden
    border-radius: 100%
    border: solid 3px $color9

.user-info__avatar
    display: block
    absolute-center()
    width: 100%
    height: auto

.user-info__list-item
    padding: 5px
    margin-bottom: 15px
    text-align: center

.user-info__list-item:last-of-type .user-info__list-data
    margin-top:10px
    font-size: 14px

.user-info__list-label, .user-info__list-data
    width: 80%
    display: block
    margin: 0 auto

.user-info__list-label
    color: $color3
    font-size: 17px
    font-weight: $bold
    margin-bottom: 3px
    text-transform: uppercase

.user-info__list-data
    color: $color13
    font-size: 16px

.logmeout
    margin:20px auto 0
    text-transform: uppercase
    background: $color2
    display: block
    color: $color9
    width:120px
    height: 25px
    font-weight: $bold
    padding: 10px 0 0
    font-size: 16px
