.user-info
    margin:0
    .closeme
        color: $color7
        position: absolute
        top: 7px
        right: 7px

.user-info__list
    list-unstyled()

.user-info__label
    text-align: center

.user-info__avatar-wrap
    position: relative
    display: block
    width: 150px
    height: 150px
    margin: 0 auto 20px
    overflow: hidden
    border-radius: 100%

.user-info__avatar
    display: block
    absolute-center()
    width: 100%
    height: auto

.user-info__list-item
    text-align: center
    padding:5px
    margin-bottom: 5px