.skipme
    position: relative
    width:100%
    height:30px
    display: block

.skipme__link
    color: $color1
    font-size: 14px
    text-align: right
    display: block
    padding: 15px 15px 15px 0

.welcomeMsg
    padding: 10px
    width: 90%
    margin: 10px auto

.welcomeMsg__img
    width: 60%
    height: auto
    margin: 10px auto
    display: block

.welcomeMsg__heading
    color: $color1
    font-size: 25px
    font-weight: $bold
    text-align: center

.welcomeMsg__desc
    color: $color3
    font-size: 16px
    text-align: center

.welcome-bullets
    font-size: 40px
    display: inline-block
    margin:0 5px
    cursor: pointer