.welcome-wrap
    background: url(../images/hero_bg.png) no-repeat bottom center
    background-size: cover
    width: 100%
    height: 100%
    
.skipme
    position: relative
    width:100%
    height:30px
    display: block

.skipme__link
    color: $color1
    font-size: 14px
    text-align: right
    display: block
    padding: 15px 15px 15px 0

.welcomeMsg
    padding: 10px
    width: 90%
    margin: 10px auto

.welcomeMsg__img
    width: 60%
    height: auto
    margin: 10px auto
    display: block

.welcomeMsg__heading
    color: $color1
    font-size: 25px
    font-weight: $bold
    text-align: center

.welcomeMsg__desc
    color: $color3
    font-size: 16px
    text-align: center

.welcome-bullets
    color: $color1
    font-size: 20px
    display: inline-block
    margin:0 7px
    cursor: pointer

.sign-direction
    width:80%
    margin: 35% auto
    p
        color: $color3
        text-align: center
    small
        color: $color3
        display: block
        font-size: 14px
        margin-top: -5px

.signupbtn
    display: block
    width:100%
    margin: 10px auto -5px
    font-weight: $bold

.signinbtn
    background: transparent
    color: $color2
    font-weight: $bold
    padding: 0
    font-size: 14px
    box-shadow: none
    
.sclogo
    display: block
    width: 95%
    margin: 20px auto

.page-wrapper
    width:100%
    height:100%
    background: url(../images/hero_bg.png) 
    background-size: cover

.page-inner
    width:80%
    padding: 40% 10px
    margin: 0 auto
    position: relative

.goback
    position: absolute
    top: 0
    right: -3px
    color: $color7
    padding:15px

.form-inputs
    width:95%
    margin: 0 auto 10px
    position: relative
    text-align: center

.input-block
    position: relative

.sc-inputs
    border:solid 1px $color5
    padding: 15px 35px 15px 20px
    width: 80%
    display: block
    font-size: 14px
    margin-top: -1px
    color: $color3

.input-icon
    position: absolute
    top:0
    right:-2px
    z-index: 2
    color:$color3
    width: 50px
    height: 14px
    padding: 16px 0
    background: $color6
    border: solid 1px $color5

.iforgot
    display: block
    text-align:right
    margin:13px 0
    font-size: 13px

.letmein
    margin-top:20px

.thank-you__title
    color: $color2
    font-size: 23px
    margin-bottom: 5px

.thank-you__msg
    color: $color3
    margin-bottom: 25px

.no-account__title
    font-size: 19px
    color: $color2

.no-account__msg
    color: $color3
    font-size: 13px
    line-height: 18px
    margin-bottom: 20px

.no-account__link
    margin-bottom: 15px

.page__unreleased
    background-color: lighten($color0,20%)
    position: relative
    width: 100%
    height: 100%

.unreleased__msg
    background: $color9
    position: absolute
    top:0
    left:0
    right:0
    bottom: 0
    margin: auto
    padding:13px
    width: 85%
    height: 17px
    color: $color2
    font-size: 16px
    font-weight: $bold
    text-align: center