.welcome-wrap
    background: url(../images/hero_bg.png) no-repeat bottom center
    background-size: cover
    width: 100%
    height: 100%
    
.skipme
    position: relative
    width:100%
    height:30px
    display: block

.skipme__link
    color: $color1
    font-size: 14px
    text-align: right
    display: block
    padding: 15px 15px 15px 0

.welcomeMsg
    padding: 10px
    width: 90%
    margin: 10px auto

.welcomeMsg__img
    width: 60%
    height: auto
    margin: 10px auto
    display: block

.welcomeMsg__heading
    color: $color1
    font-size: 25px
    font-weight: $bold
    text-align: center

.welcomeMsg__desc
    color: $color3
    font-size: 16px
    text-align: center

.welcome-bullets
    color: $color1
    font-size: 20px
    display: inline-block
    margin:0 7px
    cursor: pointer

.sign-direction
    width:80%
    margin: 35% auto
    p
        color: $color3
        text-align: center
    small
        color: $color3
        display: block
        font-size: 14px
        margin-top: -5px

.signupbtn
    display: block
    width:100%
    margin: 10px auto -5px
    background: $color1
    font-weight: $bold

.signinbtn
    background: transparent
    color: $color2
    font-weight: $bold
    padding: 0
    font-size: 14px
    box-shadow: none
    
.sclogo
    display: block
    width: 95%
    margin: 20px auto

.goback
    position: absolute
    top: 5px
    right: 5px
    color: $color4
