.pull-left-menu{
    background-color: darken($color10,10%)
    color: $color1
}

.left-menu, .left-menu .page--material__background
         background-color: $color8 !important

.left-menu__list, .left-menu__list-item, .left-menu__header, .left-menu__header-top
    background-color: $color8

.list__header--material
    background: none
    box-shadow: none
    border-bottom: solid 1px $color14

.left-menu__header
    position: relative
    padding:0

.left-menu__header-top
    @extend .list__item
    border: none
    border-bottom: solid 1px $color10
    box-shadow: none
    .left
        @extend .list__item__left
    .center
        @extend .list__item__center
        color: $color9
        font-size: 20px
        background: none !important
        .user__displayname
            color: $color9
            width: 160px
            height: 21px
            cut-text()

.left-menu__setting
    position: absolute
    top: 15px
    right: 2px
    width: 40px    
    height: 40px
    text-align: center
    vertical-align: middle

.left-menu__link
    color: $color9 !important
    font-size: 18px
    display: inline-block
    padding-top:7px

.left-menu__searchbox
    background: $color12
    width:100%
    height:50px
    display: block
    position: relative

.search-input
    width:100%
    height:50px
    background: transparent
    border: none
    border-radius: 0
    color: $color9

.search-btn
    position: absolute
    top: 5px
    right: 3px
    color: $color9
    font-size: 16px
    width: 40px
    height: 40px

.left-menu__list-item
    border-top: solid 1px $color11
    border-bottom: solid 1px darken($color10,15%)
    &:last-child
        border-bottom: none

.left-menu__list-item .list__item--material__left:empty, .left-menu__list-item .list__item--material__center
    background: none !important

.left-menu__list-item .list__item__center
    color: $color9

.user__displayname, .user__provider
    display: block
    width: 100%

.user__displayname
    font-size: 16px
    font-weight: $bold
    cut-text()
    width: 175px
    height: 21px

.user__provider
    font-size: 13px

.navigation-bar, .navigation-bar--material
    background-color: $color2
    .navigation-bar--material__left, .navigation-bar--material__right
        text-align: center

.tab-bar, .tab-bar--material
    background-color: $color9
    border-top: solid 1px $color5

:checked + .tab-bar--material__button
    color: $color1

.tab-bar--material__button
    color: $color13

.navigation-bar--material__center
    text-align: center
    font-weight: $bold

.new-post__trigger
    position: absolute
    left: 0
    right: 0
    bottom: 7px
    z-index: 6
    width:38px
    height:41px
    display: block
    margin: auto
    color: $color2
    text-align: center
    .ons-icon
        font-size: 41px
        display: block
        
.tab-menu
    .tab-bar__item
        display: inline-block
        width: 20%
    .tab-bar__item:nth-child(3)
        margin-left:20%
    .tab-bar__icon
        font-size: 26px
        line-height: 35px
        height: 30px
    
.social-acc-list
    .left
        margin-left:15px
    .list__item--material__left:empty, .list__item--material__center, .list__item--material__right
        background-image: none