// Color Scheme
$color1 = #2EB2FF
$color2 = #2980B9
$color3 = #777
// Font weights
$light= 100
$regular= 400
$bold= 600
// Base Font
$base-font-family= 'Open Sans'
$base-font-weight= $regular
$base-font-size= 13px
$base-line-height= 1.4
$secondary-font-family= 'FjallaOne-Regular'
// Fixed Font
$fixed-font-family= monospace
$fixed-font-size= 85%
$fixed-line-height= $base-line-height