// Color Scheme
$color0 = #e9ebee
$color1 = #2EB2FF
$color2 = #2980B9
$color3 = #777777
$color4 = #ff0000
$color5 = #dddddd
$color6 = #fefefe
$color7 = #cccccc
$color8 = #2C3E50
$color9 = #ffffff
$color10 = #202E3D
$color11 = #344D66
$color12 = #202F3E
$color13 = #999999
$color14 = #222222
$color15 = #bbbbbb
$color16 = #ff0000
$color17 = #000000

$tw-color = #00aced
$fb-color = #3b5998
$ig-color = #bc2a8d
$pi-color = #cb2027
$gp-color = #dd4b39
$li-color = #007bb6
$vk-color = #45668e
$fl-color = #ff0084
$wp-color = #21759b

// Font weights
$light= 100
$regular= 400
$bold= 600
// Base Font
$base-font-family= 'Open Sans'
$base-font-weight= $regular
$base-font-size= 13px
$base-line-height= 1.4
'FjallaOne-Regular'
// Fixed Font
$fixed-font-family= monospace
$fixed-font-size= 85%
$fixed-line-height= 1.4

a 
    color: $color1;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active 
        text-decoration: none;
        outline: 0 none;
        color: $color2

.text-right
    text-align: right

.text-center
    text-align: center

.text-small
    font-size: 12px

.button--material:active
    background-color: transparent
    box-shadow: none

.pull-left
    float: left

.pull-right
    float: right

.clearfix
    clear: both

.absolute-center
    position: absolute
    top:0
    left:0
    right:0
    bottom: 0
    margin: auto

.cut-text
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden