// Color Scheme
$color0 = #e9ebee
$color1 = #2EB2FF
$color2 = #2980B9
$color3 = #777777
$color4 = #ff0000
$color5 = #dddddd
$color6 = #fefefe
$color7 = #cccccc
$color8 = #2C3E50
$color9 = #ffffff
$color10 = #202E3D
$color11 = #344D66
$color12 = #202F3E
$color13 = #999999
$color14 = #222222

// Font weights
$light= 100
$regular= 400
$bold= 600
// Base Font
$base-font-family= 'Open Sans'
$base-font-weight= $regular
$base-font-size= 13px
$base-line-height= 1.4
'FjallaOne-Regular'
// Fixed Font
$fixed-font-family= monospace
$fixed-font-size= 85%
$fixed-line-height= 1.4

a 
    color: $color1;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active 
        text-decoration: none;
        outline: 0 none;
        color: $color2

.text-right
    text-align: right

.text-center
    text-align: center

.text-small
    font-size: 12px

.button--material:active
    background-color: transparent
    box-shadow: none